<template>
  <v-app light class="animated fadeIn" color="white">
    <v-toolbar flat fixed light dense app :class="{'elevation-2': scrolling, 'elevation-0': !scrolling}">
      <v-btn icon @click="$router.go(-1)">
        <v-icon>arrow_back</v-icon>
      </v-btn>
      <v-toolbar-title>Editor de cenas</v-toolbar-title>
      <v-spacer></v-spacer>
      <v-toolbar-items>
        <v-btn flat color="primary" @click.native="onSave" :disabled="requestInProgress" :loading="requestInProgress">Salvar</v-btn>
      </v-toolbar-items>
    </v-toolbar>
    <v-content v-scroll="onScroll" class="white">
      <v-container fluid fill-height grid-list-md>
        <v-layout row justify-center style="max-width: 1024px; margin: auto;">
          <v-flex xs12 align-center>
            <v-form ref="form" v-model="valid" lazy-validation>
              <v-layout row wrap>
                <v-flex x12>
                  <div class="stage pb-2 pt-2 animated fadeIn" v-for="(stage, index) in plot.stages" :key="index">
                    <div class="indicator"></div>
                    <v-chip>
                      <v-icon @click="removeStage(index)">cancel</v-icon>
                    </v-chip>
                    <v-chip @click.native="selectActor(stage)">
                      <v-avatar>
                        <v-icon>face</v-icon>
                      </v-avatar>
                      <span class="text-uppercase">{{stage.actor ? stage.actor.role : 'Qual é o ator?'}}</span>
                    </v-chip>
                    <v-chip @click.native="selectAction(stage)">
                      <span class="text-uppercase"> {{getActionLabel(stage)}}</span>
                    </v-chip>
                    <v-chip @click.native="selectStuff(stage)">
                      <span class="text-uppercase">{{stage.stuff ? stage.stuff.collection : 'Qual é o objeto?'}}</span>
                    </v-chip>
                  </div>
                  <v-btn small flat color="warning" @click="addStage">
                    <v-icon>add</v-icon>
                    Adicionar
                  </v-btn>
                </v-flex>
              </v-layout>
            </v-form>
          </v-flex>
        </v-layout>
        <v-snackbar v-model="snackbar.show" top :timeout="5000" :color="snackbar.color">
          {{ snackbar.message }}
          <v-btn color="white" flat @click="snackbar.show = false">
            Fechar
          </v-btn>
        </v-snackbar>
      </v-container>
      <actors-dialog :projectId="projectId" :show="showActorsDialog" v-model="stageSelected.actor" @close="showActorsDialog = false"></actors-dialog>
      <stuffs-dialog :projectId="projectId" :show="showStuffsDialog" v-model="stageSelected.stuff" @close="showStuffsDialog = false"></stuffs-dialog>
      <actions-dialog :show="showActionsDialog" @input="onActionChange" @close="showActionsDialog = false"></actions-dialog>
    </v-content>
  </v-app>
</template>

<script>
import scrollMixin from '@/shared/mixins/scroll.mixin'
import Stage from '../models/stage.model'
import Actions from '../models/actions'
import Operations from '../models/operations'
import Operation from '../models/operation.model'
import { mapState } from 'vuex'
import ActorsDialog from '../components/actors-dialog.component'
import StuffsDialog from '../components/stuffs-dialog.component'
import ActionsDialog from '../components/actions-dialog.component'

export default {
  mixins: [scrollMixin],
  components: {
    ActorsDialog,
    StuffsDialog,
    ActionsDialog
  },
  data () {
    return {
      projectId: null,
      scenarioId: null,
      plotId: null,
      obj: null,
      panel: [],
      valid: false,
      showActorsDialog: false,
      showStuffsDialog: false,
      showActionsDialog: false,
      stageSelected: {},
      snackbar: {
        show: false,
        color: 'success',
        message: 'As alterações foram salvas.'
      },
      nameRules: [
        v => !!v || 'Informe o nome da cena'
      ],
      message: '',
      requestInProgress: false
    }
  },
  computed: {
    ...mapState({
      plot (state) {
        let plots = state.plot.plots[`${this.projectId}.${this.scenarioId}`]
        if (plots && plots.length) {
          let plot = plots.find(p => p.id === this.plotId)
          if (plot) {
            if (!plot.stages.length) plot.stages.push(new Stage())
            return plot
          } else this.$router.replace({ name: 'main.ProjectsPage' })
        } this.$router.replace({ name: 'main.ProjectsPage' })
        return {}
      }
    })
  },
  methods: {
    selectActor (stage) {
      this.stageSelected = stage
      this.showActorsDialog = true
    },
    selectStuff (stage) {
      this.stageSelected = stage
      this.showStuffsDialog = true
    },
    selectAction (stage) {
      this.stageSelected = stage
      this.showActionsDialog = true
    },
    addStage () {
      let stage = new Stage()
      this.plot.stages.push(stage)
    },
    removeStage (index) {
      this.plot.stages.splice(index, 1)
    },
    onActionChange ($event) {
      this.stageSelected.action = $event.action
      if ($event.action === Actions.OPERATION) {
        this.stageSelected.operation = new Operation()
        this.stageSelected.operation.type = $event.operation
      }
    },
    getActionLabel (stage) {
      switch (stage.action) {
        case Actions.VALIDATION:
          return 'VALIDAR'
        case Actions.OPERATION:
          if (stage.operation.type === Operations.INSERT) {
            return 'INSERIR'
          } else if (stage.operation.type === Operations.UPDATE) {
            return 'ATUALIZAR'
          }
          break
        case Actions.QUERY:
          return 'CONSULTAR'
        case Actions.INTEGRATION:
          return 'INTEGRAR'
        default: return 'Qual é a ação?'
      }
    },
    onSave () {
      if (this.$refs.form.validate()) {
        this.requestInProgress = true
        this.$store.dispatch('plot/putPlot', {
          form: this.plot,
          projectId: this.projectId,
          scenarioId: this.scenarioId,
          plotId: this.plotId
        }).then(data => {
          this.requestInProgress = false
          this.snackbar.show = true
          this.snackbar.message = 'As alterações foram salvas.'
          this.snackbar.color = 'success'
        }).catch(() => {
          this.requestInProgress = false
          this.snackbar.show = true
          this.snackbar.message = 'Ops! Aconteceu algo inesperado, tente novamente.'
          this.snackbar.color = 'error'
        })
      }
    }
  },
  created () {
    this.plotId = this.$route.params.plotId
    this.projectId = this.$route.params.projectId
    this.scenarioId = this.$route.params.scenarioId
  }
}
</script>

<style lang="stylus">
.stage {
  border-left 6px solid #DBA11C
  padding-left 20px
  position relative
  & .indicator {
    border-top-right-radius 2px
    border-bottom-right-radius 2px
    width 30px
    height 2px
    border-bottom 4px solid #DBA11C
    position absolute
    left 0
    top: 27px
  }
  & .v-chip {
    &__content {
      cursor: pointer !important;
      font-weight: bold;
    }
  }
}

.list-actors {
  max-height: 250px;
  overflow auto;
}
</style>

