<template>
  <v-dialog v-model="show" persistent scrollable max-width="500px" transition="dialog-transition">
    <v-card>
      <v-container fluid fill-height>
        <v-layout row justify-center>
          <v-flex xs12 align-center>
            <v-list>
              <v-list-tile v-for="(item, i) in actions" :key="i" @click="changeAction(item)">
                <v-list-tile-title>{{ item.label }}</v-list-tile-title>
              </v-list-tile>
            </v-list>
          </v-flex>
        </v-layout>
      </v-container>
      <v-card-actions>
        <v-btn flat small color="primary" @click="$emit('close')">Cancelar</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
import Actions from '../models/actions'
import Operations from '../models/operations'

export default {
  props: ['value', 'show'],
  data () {
    return {
      actions: [
        { label: 'VALIDAR', action: Actions.VALIDATION },
        { label: 'INSERIR', action: Actions.OPERATION, operation: Operations.INSERT },
        { label: 'ATUALIZAR', action: Actions.OPERATION, operation: Operations.UPDATE },
        { label: 'CONSULTAR', action: Actions.QUERY },
        { label: 'INTEGRAR', action: Actions.INTEGRATION }
      ]
    }
  },
  methods: {
    changeAction (item) {
      this.$emit('input', item)
      this.$emit('close')
    }
  }
}
</script>

<style>
</style>
