<template>
  <v-dialog v-model="show" persistent scrollable max-width="500px" transition="dialog-transition">
    <v-card>
      <v-container fluid fill-height>
        <v-layout row justify-center>
          <v-flex xs12 align-center>
            <v-list class="list-actors">
              <v-list-tile v-for="(actor, i) in actors" :key="i" @click="selectActor(actor)">
                <v-list-tile-title class="text-uppercase">{{actor.role}}</v-list-tile-title>
              </v-list-tile>
            </v-list>
          </v-flex>
        </v-layout>
      </v-container>
      <v-card-actions>
        <v-btn flat small color="primary" @click="$emit('close')">Cancelar</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
import { mapState } from 'vuex'
export default {
  props: ['value', 'show', 'projectId'],
  data () {
    return {
      json: {}
    }
  },
  computed: {
    ...mapState({
      actors (state) {
        if (!state.actor.actors[this.projectId]) return []
        return state.actor.actors[this.projectId].slice(0).sort((a, b) => {
          return a.creationDate < b.creationDate
        })
      }
    })
  },
  methods: {
    selectActor (actor) {
      this.$emit('input', actor)
      this.$emit('close')
    }
  }
}
</script>

<style>
</style>
