<template>
  <v-dialog v-model="show" scrollable fullscreen persistent :overlay="false" max-width="500px" transition="dialog-transition">
    <v-card>
      <v-container fluid fill-height>
        <v-layout row justify-center>
          <v-flex xs12 align-center>
            <json-formatted :value="json"></json-formatted>
          </v-flex>
        </v-layout>
      </v-container>
    </v-card>
  </v-dialog>
</template>

<script>
export default {
  props: ['value', 'show'],
  data () {
    return {
      json: {}
    }
  },
  methods: {
    save () {
      this.$emit('input', this.json)
      this.$emit('close')
    }
  }
}
</script>

<style>
</style>
