<template>
  <canvas width="400" height="400"></canvas>
</template>

<script>
  import ChartJS from 'chart.js'
  export default {
    props: ['config'],
    data () {
      return {
        chart: null
      }
    },
    mounted () {
      this.chart = new ChartJS(this.$el, this.config)
    }
  }
</script>

<style scoped>

</style>
