<template>
  <pre></pre>
</template>

<script>
export default {
  props: ['value'],
  methods: {
    format (json) {
      json = json.replace(/&/g, '&amp;').replace(/</g, '&lt;').replace(/>/g, '&gt;')
      return json.replace(/("(\\u[a-zA-Z0-9]{4}|\\[^u]|[^\\"])*"(\s*:)?|\b(true|false|null)\b|-?\d+(?:\.\d*)?(?:[eE][+-]?\d+)?)/g,
        function (match) {
          var cls = 'number'
          if (/^"/.test(match)) {
            if (/:$/.test(match)) cls = 'key'
            else cls = 'string'
          } else if (/true|false/.test(match)) cls = 'boolean'
          else if (/null/.test(match)) cls = 'null'
          return `<span class="${cls}">${match}</span>`
        })
    }
  },
  watch: {
    value: {
      handler: function (newValue) {
        var str = JSON.stringify(newValue, undefined, 4)
        this.$el.innerHTML = this.format(str)
      },
      deep: true
    }
  },
  mounted () {
    var str = JSON.stringify(this.value, undefined, 4)
    this.$el.innerHTML = this.format(str)
  }
}
</script>
<style lang="stylus">
  pre
    font-weight bold
    outline 1px solid #ccc
    padding 5px
    margin 5px
    font-size 15px
    background whitesmoke
    padding-left 30px
    position relative
    overflow auto
    .string
      color #0277BD
      font-weight normal
    .number
      color #5E35B1
      font-weight normal
    .boolean
      color #303F9F
      font-weight normal
    .null
      color #6A1B9A
      font-weight normal
    .key
      color #FF5722
      font-weight bold
</style>

