<template>
  <v-container fluid grid-list-sm>
    <v-layout row justify-center fill-height style="max-width: 1024px; margin: auto;">
      <v-flex xs12>
        <v-layout row wrap>
          <v-flex xs12 sm12 md6 v-for="(project, index) in projects" :key="index">
            <v-card height="100%">
              <v-card-actions class="absolute bottom">
                <v-card-media height="48" style="width: 48px;" src="https://www.logistec.com/wp-content/uploads/2017/12/placeholder.png"></v-card-media>
                <v-spacer></v-spacer>
                <v-btn small icon color="primary" flat class="elevation-0" :to="{name: 'main.ProjectPage', params: {id: project.id}}" exact>
                  <v-icon>open_in_new</v-icon>
                </v-btn>
                <v-menu bottom left>
                  <v-btn slot="activator" icon>
                    <v-icon>more_vert</v-icon>
                  </v-btn>
                  <v-list dense>
                    <v-list-tile  @click="editProject(project)">
                      <v-list-tile-title>Editar</v-list-tile-title>
                    </v-list-tile>
                    <v-list-tile>
                      <v-list-tile-title>Remover</v-list-tile-title>
                    </v-list-tile>
                  </v-list>
                </v-menu>
              </v-card-actions>
              <v-card-title class="align-start pt-0" primary-title>
                <div>
                  <h3 class="headline mb-0 info--text">{{project.name}}</h3>
                  <small>Criado em {{project.creationDate | date('DD/MM/YYYY hh:mm')}}</small>
                  <div class="block-with-text subheading">{{project.description ||'Você pode adicionar uma descrição ao seu projeto.'}}</div>
                </div>
              </v-card-title>
            </v-card>
          </v-flex>
        </v-layout>
      </v-flex>
    </v-layout>
    <project-dialog :show="showProjectDialog" :project="projectSelected" @close="showProjectDialog = false"></project-dialog>
  </v-container>
</template>

<script>
  import ProjectDialog from '../components/project.dialog'
  import { mapState } from 'vuex'
  export default {
    components: {
      ProjectDialog
    },
    data: () => ({
      showProjectDialog: false,
      projectSelected: null
    }),
    methods: {
      editProject (project) {
        this.projectSelected = project
        this.showProjectDialog = true
      }
    },
    computed: {
      ...mapState({
        projects (state) {
          if (state.project.projects.length) {
            return state.project.projects.slice(0).sort((a, b) => {
              return a.creationDate < b.creationDate
            })
          } else return []
        }
      })
    },
    created () {
      this.$store.dispatch('project/getProjects')
      this.$eventBus.$on('addProject', () => { this.showProjectDialog = true })
    }
  }
</script>

<style lang="stylus" scoped>

</style>
