<template>
  <v-app light class="animated fadeIn">
    <v-toolbar fixed app light dense :class="{'elevation-6': scrolling}">
      <v-btn icon @click="$router.go(-1)">
        <v-icon>arrow_back</v-icon>
      </v-btn>
      <v-toolbar-title>Detalhes do projeto</v-toolbar-title>
    </v-toolbar>
    <v-content light v-scroll="onScroll" class="pb-5">
      <v-container grid-list-xs fluid>
        <v-layout row justify-center fill-height style="max-width: 1024px; margin: auto;">
          <v-flex xs12>
            <scenario-dialog :show="showScenarioDialog" :scenario="scenarioSelected" :projectId="projectId" @close="showScenarioDialog = false"></scenario-dialog>
            <actor-dialog :show="showActorDialog" :actor="actorSelected" :projectId="projectId" @close="showActorDialog = false"></actor-dialog>
            <stuff-dialog :show="showStuffDialog" :stuff="stuffSelected" :projectId="projectId" @close="showStuffDialog = false"></stuff-dialog>
            <v-layout row wrap>
              <v-flex xs12>
                <v-card style="min-height: 200px;">
                  <v-card-title class="align-start" primary-title>
                    <v-card-media height="48" style="width: 48px;" class="mr-3" src="https://www.logistec.com/wp-content/uploads/2017/12/placeholder.png"></v-card-media>
                    <div>
                      <h3 class="headline mb-0 info--text">{{project.name}}</h3>
                      <small>Criado em {{project.creationDate | date('DD/MM/YYYY hh:mm')}}</small>
                      <div>{{project.description ||'Você pode adicionar uma descrição ao seu projeto.'}}</div>
                    </div>
                  </v-card-title>
                </v-card>
              </v-flex>
              <v-flex xs12 sm4 md4>
                <v-toolbar card prominent class="mt-4" dense>
                  <v-toolbar-title class="text-uppercase body-2">Cenários</v-toolbar-title>
                  <v-spacer></v-spacer>
                  <v-btn icon @click="showScenarioDialog = true">
                    <v-icon>add</v-icon>
                  </v-btn>
                </v-toolbar>
                <v-layout row wrap>
                  <v-flex xs12 v-for="(scenario, index) in scenarios" :key="index">
                    <v-card height="100%" class="animated zoomIn">
                      <v-card-actions class="pb-0">
                        <v-spacer></v-spacer>
                        <v-btn color="primary" flat icon class="elevation-0" small :to="{name: 'main.ScenarioPage', params: {projectId: projectId, scenarioId: scenario.id}}">
                          <v-icon>open_in_new</v-icon>
                        </v-btn>
                        <v-menu bottom left>
                          <v-btn slot="activator" icon>
                            <v-icon>more_vert</v-icon>
                          </v-btn>
                          <v-list dense>
                            <v-list-tile @click="editScenario(scenario)">
                              <v-list-tile-title>Editar</v-list-tile-title>
                            </v-list-tile>
                            <v-list-tile>
                              <v-list-tile-title>Remover</v-list-tile-title>
                            </v-list-tile>
                          </v-list>
                        </v-menu>
                      </v-card-actions>
                      <v-card-title class="align-start pt-0" primary-title>
                        <div>
                          <h3 class="mb-0">{{scenario.name}}</h3>
                          <small>{{scenario.creationDate | date('DD/MM/YYYY hh:mm')}}</small>
                          <div class="block-with-text">{{scenario.description ||'Você pode adicionar uma descrição para este cenário.'}}</div>
                        </div>
                      </v-card-title>
                    </v-card>
                  </v-flex>
                </v-layout>
              </v-flex>
              <v-flex xs12 sm4 md4>
                <v-toolbar card prominent class="mt-4" dense>
                  <v-toolbar-title class="text-uppercase body-2">Atores</v-toolbar-title>
                  <v-spacer></v-spacer>
                  <v-btn icon @click="showActorDialog = true">
                    <v-icon>add</v-icon>
                  </v-btn>
                </v-toolbar>
                <v-layout row wrap>
                  <v-flex xs12 v-for="(actor, index) in actors" :key="index">
                    <v-card height="100%" class="animated zoomIn">
                      <v-card-actions class="pb-0">
                        <v-spacer></v-spacer>
                        <v-menu bottom left>
                          <v-btn slot="activator" icon>
                            <v-icon>more_vert</v-icon>
                          </v-btn>
                          <v-list dense>
                            <v-list-tile @click="editActor(actor)">
                              <v-list-tile-title>Editar</v-list-tile-title>
                            </v-list-tile>
                            <v-list-tile>
                              <v-list-tile-title>Remover</v-list-tile-title>
                            </v-list-tile>
                          </v-list>
                        </v-menu>
                      </v-card-actions>
                      <v-card-title class="align-start pt-0" primary-title>
                        <div>
                          <h3 class="mb-0">{{actor.role}}</h3>
                          <small>{{actor.creationDate | date('DD/MM/YYYY hh:mm')}}</small>
                          <div class="block-with-text">{{actor.description ||'Você pode adicionar uma descrição para este ator.'}}</div>
                        </div>
                      </v-card-title>
                    </v-card>
                  </v-flex>
                </v-layout>
              </v-flex>
              <v-flex xs12 sm4 md4>
                <v-toolbar card prominent class="mt-4" dense>
                  <v-toolbar-title class="text-uppercase body-2">Objetos</v-toolbar-title>
                  <v-spacer></v-spacer>
                  <v-btn icon @click="showStuffDialog = true">
                    <v-icon>add</v-icon>
                  </v-btn>
                </v-toolbar>
                <v-layout row wrap>
                  <v-flex xs12 v-for="(stuff, index) in stuffs" :key="index">
                    <v-card height="100%" class="animated zoomIn">
                      <v-card-actions class="pb-0">
                        <v-spacer></v-spacer>
                        <v-menu bottom left>
                          <v-btn slot="activator" icon>
                            <v-icon>more_vert</v-icon>
                          </v-btn>
                          <v-list dense>
                            <v-list-tile @click="editStuff(stuff)">
                              <v-list-tile-title>Editar</v-list-tile-title>
                            </v-list-tile>
                            <v-list-tile>
                              <v-list-tile-title>Remover</v-list-tile-title>
                            </v-list-tile>
                          </v-list>
                        </v-menu>
                      </v-card-actions>
                      <v-card-title class="align-start pt-0" primary-title>
                        <div>
                          <h3 class="mb-0">{{stuff.name}}</h3>
                          <small>{{stuff.creationDate | date('DD/MM/YYYY hh:mm')}}</small>
                          <div class="block-with-text">{{stuff.description ||'Você pode adicionar uma descrição para este objeto.'}}</div>
                        </div>
                      </v-card-title>
                    </v-card>
                  </v-flex>
                </v-layout>
              </v-flex>
            </v-layout>
          </v-flex>
        </v-layout>
      </v-container>
    </v-content>
  </v-app>
</template>

<script>
import { mapState } from 'vuex'
import ScenarioDialog from '../components/scenario.dialog'
import ActorDialog from '../components/actor.dialog'
import StuffDialog from '../components/stuff.dialog'
import scrollMixin from '@/shared/mixins/scroll.mixin'

export default {
  components: {
    ScenarioDialog,
    ActorDialog,
    StuffDialog
  },
  mixins: [scrollMixin],
  watch: {
    bottomNav () {
      this.$vuetify.goTo(0)
    }
  },
  data () {
    return {
      showScenarioDialog: false,
      showActorDialog: false,
      showStuffDialog: false,
      showPlotDialog: false,
      scenarioId: null,
      stuffSelected: null,
      scenarioSelected: null,
      actorSelected: null,
      isMobile: false
    }
  },
  methods: {
    editStuff (stuff) {
      this.stuffSelected = stuff
      this.showStuffDialog = true
    },
    editScenario (scenario) {
      this.scenarioSelected = scenario
      this.showScenarioDialog = true
    },
    editActor (actor) {
      this.actorSelected = actor
      this.showActorDialog = true
    },
    onResize () {
      this.isMobile = window.innerWidth < 600
    }
  },
  computed: {
    projectId () { return this.$route.params.id },
    ...mapState({
      project (state) {
        let project = state.project.projects.find(p => p.id === this.projectId)
        if (project) return project
        else this.$router.replace({ name: 'main.ProjectsPage' })
        return {}
      },
      scenarios (state) {
        if (!state.scenario.scenarios[this.projectId]) return []
        return state.scenario.scenarios[this.projectId].slice(0).sort((a, b) => {
          return a.creationDate < b.creationDate
        })
      },
      actors (state) {
        if (!state.actor.actors[this.projectId]) return []
        return state.actor.actors[this.projectId].slice(0).sort((a, b) => {
          return a.creationDate < b.creationDate
        })
      },
      stuffs (state) {
        if (!state.stuff.stuffs[this.projectId]) return []
        return state.stuff.stuffs[this.projectId].slice(0).sort((a, b) => {
          return a.creationDate < b.creationDate
        })
      }
    })
  },
  mounted () {
    this.onResize()
    window.addEventListener('resize', this.onResize, { passive: true })
  },
  created () {
    this.$store.dispatch('scenario/getScenarios', this.projectId)
    this.$store.dispatch('actor/getActors', this.projectId)
    this.$store.dispatch('stuff/getStuffs', this.projectId)
  }
}
</script>

<style>
</style>
