<template>
  <v-app light class="animated fadeIn">
    <v-toolbar fixed app dense light :class="{'elevation-6': scrolling}">
      <v-btn icon @click="$router.go(-1)">
        <v-icon>arrow_back</v-icon>
      </v-btn>
      <v-toolbar-title>Detalhes do cenário</v-toolbar-title>
    </v-toolbar>
    <v-content light v-scroll="onScroll">
      <plot-dialog :show="showPlotDialog" :projectId="projectId" :scenarioId="scenarioId"
      :plot="plotSelected" @close="closePlotDialog"></plot-dialog>
      <v-container fluid grid-list-sm>
        <v-layout row justify-center fill-height style="max-width: 1024px; margin: auto;">
          <v-flex xs12>
            <v-layout row wrap>
              <v-flex xs12>
                <v-card>
                  <v-card-title class="align-start" primary-title>
                    <div>
                      <h3 class="headline mb-0 info--text">{{scenario.name}}</h3>
                      <small>{{scenario.creationDate | date('DD/MM/YYYY hh:mm')}}</small>
                      <div class="body-2 ">{{scenario.description ||'Você pode adicionar uma descrição para este cenário.'}}</div>
                    </div>
                  </v-card-title>
                </v-card>
              </v-flex>
              <v-flex xs12>
                <v-toolbar card prominent class="mt-4" dense>
                  <v-toolbar-title class="text-uppercase body-2">Cenas</v-toolbar-title>
                  <v-spacer></v-spacer>
                  <v-btn icon @click="showPlotDialog = true">
                    <v-icon>add</v-icon>
                  </v-btn>
                </v-toolbar>
                <v-layout row wrap>
                  <v-flex xs12 md6 v-for="(plot, index) in plots" :key="index">
                    <v-card height="100%" class="animated zoomIn">
                      <v-card-actions class="pb-0">
                        <v-spacer></v-spacer>
                        <v-menu bottom left>
                          <v-btn slot="activator" icon>
                            <v-icon>more_vert</v-icon>
                          </v-btn>
                          <v-list dense>
                            <v-list-tile @click="editPlot(plot)">
                              <v-list-tile-title>Editar</v-list-tile-title>
                            </v-list-tile>
                            <v-list-tile>
                              <v-list-tile-title>Remover</v-list-tile-title>
                            </v-list-tile>
                          </v-list>
                        </v-menu>
                      </v-card-actions>
                      <v-card-title class="align-start pt-0" primary-title>
                        <div>
                          <h3 class="mb-0">{{plot.name}}</h3>
                          <small>{{plot.creationDate | date('DD/MM/YYYY hh:mm')}}</small>
                          <div class="block-with-text">{{plot.description ||'Você pode adicionar uma descrição para esta cena.'}}</div>
                          <div class="stage pb-2 pt-2 mt-2 animated fadeIn">
                            <div class="indicator"></div>
                            <v-chip class="label">
                              <v-icon>label</v-icon>
                            </v-chip>
                            <v-chip>
                              <v-avatar>
                                <v-icon>face</v-icon>
                              </v-avatar>
                              <span class="text-uppercase">{{plot.actor ? plot.actor.role : 'Qual é o ator?'}}</span>
                            </v-chip>
                            <v-chip>
                              <span class="text-uppercase"> {{getActionLabel(plot)}}</span>
                            </v-chip>
                            <v-chip>
                              <span class="text-uppercase">{{plot.stuff ? plot.stuff.collection : 'Qual é o objeto?'}}</span>
                            </v-chip>
                            <div class="pa-2">
                              <json-formatted :value="plot.payload"></json-formatted>
                            </div>
                          </div>
                        </div>
                      </v-card-title>
                    </v-card>
                  </v-flex>
                </v-layout>
              </v-flex>
            </v-layout>
          </v-flex>
        </v-layout>
      </v-container>
    </v-content>
  </v-app>
</template>

<script>
import { mapState } from 'vuex'
import PlotDialog from '../components/plot.dialog'
import scrollMixin from '@/shared/mixins/scroll.mixin'
import Actions from '../models/actions'

export default {
  components: {
    PlotDialog
  },
  mixins: [scrollMixin],
  data () {
    return {
      projectId: null,
      scenarioId: null,
      showPlotDialog: false,
      plotSelected: null
    }
  },
  methods: {
    editPlot (plot) {
      this.plotSelected = plot
      this.showPlotDialog = true
    },
    closePlotDialog () {
      this.showPlotDialog = false
      this.plotSelected = null
    },
    getActionLabel (plot) {
      switch (plot.action) {
        case Actions.VALIDATION: return 'VALIDAR'
        case Actions.INSERT: return 'INSERIR'
        case Actions.UPDATE: return 'UPDATE'
        case Actions.QUERY: return 'CONSULTAR'
        case Actions.INTEGRATION: return 'INTEGRAR'
        default: return 'Qual é a ação?'
      }
    }
  },
  computed: {
    ...mapState({
      scenario (state) {
        if (state.scenario.scenarios[this.projectId]) {
          let scenario = state.scenario.scenarios[this.projectId].find(s => s.id === this.scenarioId)
          if (scenario) return scenario
          else this.$router.replace({name: 'main.ProjectsPage'})
        } else this.$router.replace({name: 'main.ProjectsPage'})
        return {}
      },
      plots (state) {
        if (state.plot.plots[`${this.projectId}.${this.scenarioId}`]) {
          return state.plot.plots[`${this.projectId}.${this.scenarioId}`].slice(0).sort((a, b) => {
            return a.creationDate < b.creationDate
          })
        } else return []
      }
    })
  },
  created () {
    this.projectId = this.$route.params.projectId
    this.scenarioId = this.$route.params.scenarioId
    this.$store.dispatch('plot/getPlots', {
      projectId: this.projectId,
      scenarioId: this.scenarioId
    })
  }
}
</script>

<style>

</style>
