<template>
  <v-container fluid fill-height grid-list-sm>
    <v-layout row wrap>
      <v-flex d-flex xs12 order-xs5>
        <v-layout column>
          <v-flex d-flex>
            <v-card tile flat>
              <v-card-text>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusantium, harum.</v-card-text>
            </v-card>
          </v-flex>
          <v-flex d-flex>
            <v-card tile flat>
              <v-card-text>Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic dolorum saepe impedit minus nemo harum veritatis quisquam commodi blanditiis doloremque magni dicta dolor repellat delectus facere magnam aperiam, placeat quas!</v-card-text>
            </v-card>
          </v-flex>
        </v-layout>
      </v-flex>
      <v-flex d-flex xs12 sm6 md7>
        <v-layout row wrap>
          <v-flex d-flex>
            <v-card tile flat>
              <chart :config="chartConfig"></chart>
            </v-card>
          </v-flex>
          <v-flex d-flex>
            <v-card tile flat>
              <v-card-text>
                <h3>Log de modificações</h3>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sunt vitae, labore modi nam tempore odio fuga, architecto similique quam praesentium cumque quisquam nemo aspernatur nisi odit eligendi laudantium molestiae soluta accusantium! Enim, atque neque! Pariatur dolor ea eligendi libero ipsa?
              </v-card-text>
            </v-card>
          </v-flex>
        </v-layout>
      </v-flex>
      <v-flex d-flex xs12 sm6 md5>
        <v-card tile flat>
          <v-card-text>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Illo, aspernatur ipsum! Magni dicta delectus, alias corporis ullam placeat enim qui, eveniet iure modi ab ducimus tempora autem adipisci? Repudiandae, qui!</v-card-text>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>

let barChartData = {
  labels: ['January', 'February', 'March', 'April', 'May', 'June', 'July'],
  datasets: [{
    label: 'Dataset 1',
    yAxisID: 'y-axis-1',
    data: [
      Math.random(),
      Math.random(),
      Math.random(),
      Math.random(),
      Math.random(),
      Math.random(),
      Math.random()
    ]
  }, {
    label: 'Dataset 2',
    yAxisID: 'y-axis-2',
    data: [
      Math.random(),
      Math.random(),
      Math.random(),
      Math.random(),
      Math.random(),
      Math.random(),
      Math.random()
    ]
  }]
}
export default {
  data () {
    return {
      chartConfig: {
        type: 'bar',
        data: barChartData,
        options: {
          responsive: true,
          title: {
            display: true,
            text: 'Chart.js Bar Chart - Multi Axis'
          },
          tooltips: {
            mode: 'index',
            intersect: true
          },
          scales: {
            yAxes: [{
              type: 'linear', // only linear but allow scale type registration. This allows extensions to exist solely for log scale for instance
              display: true,
              position: 'left',
              id: 'y-axis-1'
            }, {
              type: 'linear', // only linear but allow scale type registration. This allows extensions to exist solely for log scale for instance
              display: true,
              position: 'right',
              id: 'y-axis-2',
              gridLines: {
                drawOnChartArea: false
              }
            }]
          }
        }
      }
    }
  }
}
</script>

<style scoped>

</style>
