<template>
  <v-app light class="animated fadeIn" v-if="profile">
    <v-navigation-drawer v-model="drawer" fixed app class="blue-grey darken-3">
      <v-list expand class="white--text pt-5">
        <v-list-tile :to="{name: 'main.DashboardPage'}"
          exact exact-active-class="blue-grey lighten-5">
          <v-list-tile-action>
            <v-icon class="white--text">dashboard</v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title>Painel de controle</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
        <v-list-tile :to="{name: 'main.ProjectsPage'}"
          exact exact-active-class="blue-grey lighten-5">
          <v-list-tile-action>
            <v-icon class="white--text">domain</v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title>Meus projetos</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
        <v-list-tile :to="{name: 'main.SettingsPage'}"
          exact exact-active-class="blue-grey lighten-5">
          <v-list-tile-action>
            <v-icon class="white--text">build</v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title>Configurações</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
      </v-list>
      <v-footer color="blue-grey darken-4" fixed height="auto" class="footer-profile">
        <v-list class="pa-0 transparent">
          <v-list-tile avatar>
            <v-menu top right offset-x origin="left center" transition="scale-transition" min-width="200">
              <v-list-tile-avatar class="avatar" slot="activator">
                <span class="white--text font-weight-bold">{{ initialName(profile.name) }}</span>
              </v-list-tile-avatar>
              <v-list dense class="text-uppercase">
                <v-list-tile>
                  <v-list-tile-title>
                    {{ profile.name }}
                  </v-list-tile-title>
                </v-list-tile>
                <v-list-tile color="error" @click.native="logout">
                  <v-list-tile-title>
                    Sair
                  </v-list-tile-title>
                </v-list-tile>
              </v-list>
            </v-menu>
          </v-list-tile>
        </v-list>
      </v-footer>
    </v-navigation-drawer>
    <v-toolbar fixed app light dense
      :class="{'elevation-6': scrolling}">
      <v-toolbar-side-icon @click.stop="drawer = !drawer"></v-toolbar-side-icon>
      <v-toolbar-title>{{$route.meta.title}}</v-toolbar-title>
      <v-spacer></v-spacer>
      <router-view name="toolbarItems"></router-view>
    </v-toolbar>
    <v-content light v-scroll="onScroll">
      <transition
      name="custom-classes-transition"
      enter-active-class="animated fadeIn">
        <router-view></router-view>
      </transition>
    </v-content>
  </v-app>
</template>

<script>
  import { mapState } from 'vuex'
  import scrollMixin from '@/shared/mixins/scroll.mixin'
  import * as LocalForage from 'localforage'
  export default {
    props: {
      source: String
    },
    mixins: [scrollMixin],
    data () {
      return {
        drawer: null,
        mini: true
      }
    },
    computed: {
      ...mapState({
        profile: state => state.auth.me
      })
    },
    methods: {
      initialName (username) {
        if (!username) return
        let parts = username.split(/[ -]/)
        let initials = ''

        for (var i = 0; i < parts.length; i++) {
          initials += parts[i].charAt(0)
        }

        if (initials.length > 2 && initials.search(/[A-Z]/) !== -1) {
          initials = initials.replace(/[a-z]+/g, '')
        }

        initials = initials.substr(0, 1).toUpperCase() + initials.substr(initials.length - 1, initials.length).toUpperCase()
        return initials
      },
      logout () {
        LocalForage.clear().then(() => window.location.reload())
      }
    },
    created () {
      this.$store.dispatch('auth/getProfile')
        .catch(() => {
          this.$router.push({ name: 'SignInPage' })
        })
    }
  }
</script>

<style lang="stylus" scoped>
  .footer-profile
    .v-avatar
      border 2px solid
      border-color white !important
      font-size 18px
      background #37474f !important
  .v-list__tile__title
    font-weight bold
  .v-list__tile--active
    .v-icon
      color #505f79 !important
</style>
