<template>
  <v-layout row justify-center>
    <v-dialog v-model="show" fullscreen transition="dialog-bottom-transition">
      <v-card>
        <v-toolbar light dense>
          <v-btn icon light @click.native="onClose">
            <v-icon>close</v-icon>
          </v-btn>
          <v-toolbar-title>CENA</v-toolbar-title>
          <v-spacer></v-spacer>
          <v-toolbar-items>
            <v-btn light flat @click.native="onSave" :disabled="requestInProgress"  :loading="requestInProgress">Salvar</v-btn>
          </v-toolbar-items>
        </v-toolbar>
         <v-container fluid fill-height>
            <v-layout row justify-center>
              <v-flex xs12 md7 align-center>
                <v-form ref="form" v-model="valid" lazy-validation>
                  <v-layout row wrap>
                    <v-flex xs12>
                      <v-text-field v-model="form.name" :name="`name${_uid}`"
                      :rules="nameRules" label="Nome da cena" required box></v-text-field>
                      <v-textarea :name="`description${_uid}`" v-model="form.description" 
                        box label="Descrição da cena" auto-grow ></v-textarea>
                      <div class="stage pb-2 pt-2 animated fadeIn">
                        <div class="indicator"></div>
                        <v-chip class="label">
                          <v-icon>label</v-icon>
                        </v-chip>
                        <v-chip @click.native="showActorsDialog = true">
                          <v-avatar>
                            <v-icon>face</v-icon>
                          </v-avatar>
                          <span class="text-uppercase">{{form.actor ? form.actor.role : 'Qual é o ator?'}}</span>
                        </v-chip>
                        <v-chip @click.native="showActionsDialog = true">
                          <span class="text-uppercase"> {{getActionLabel()}}</span>
                        </v-chip>
                        <v-chip @click.native="showStuffsDialog = true">
                          <span class="text-uppercase">{{form.stuff ? form.stuff.collection : 'Qual é o objeto?'}}</span>
                        </v-chip>
                        <div class="pa-2">
                          <json-formatted :value="form.payload"></json-formatted>
                        </div>
                      </div>
                    </v-flex>
                  </v-layout>
                </v-form>
              </v-flex>
            </v-layout>
        </v-container>
        <actors-dialog :projectId="projectId" :show="showActorsDialog" 
        v-model="form.actor" @close="showActorsDialog = false"></actors-dialog>
        <stuffs-dialog :projectId="projectId" :show="showStuffsDialog" v-model="form.stuff" @close="showStuffsDialog = false"></stuffs-dialog>
        <actions-dialog :show="showActionsDialog" v-model="form.action" @close="showActionsDialog = false"></actions-dialog>
      </v-card>
    </v-dialog>
  </v-layout>
</template>

<script>
  import Plot from '../models/plot.model'
  import Actions from '../models/actions'
  import ActorsDialog from '../components/actors-dialog.component'
  import StuffsDialog from '../components/stuffs-dialog.component'
  import ActionsDialog from '../components/actions-dialog.component'
  import { mapState } from 'vuex'
  export default {
    props: ['show', 'projectId', 'scenarioId', 'plot'],
    data () {
      return {
        valid: false,
        isMobile: false,
        requestInProgress: false,
        form: new Plot(),
        showActorsDialog: false,
        showStuffsDialog: false,
        showActionsDialog: false,
        nameRules: [
          v => !!v || 'Informe o nome da cena'
        ]
      }
    },
    components: {
      ActorsDialog,
      StuffsDialog,
      ActionsDialog
    },
    computed: {
      ...mapState({
        stuffs (state) {
          if (!state.stuff.stuffs[this.projectId]) return []
          return state.stuff.stuffs[this.projectId].slice(0).sort((a, b) => {
            return a.creationDate < b.creationDate
          })
        }
      })
    },
    watch: {
      plot () {
        if (this.plot) this.form = Object.assign({}, this.plot)
      }
    },
    mounted () {
      this.onResize()
      window.addEventListener('resize', this.onResize, { passive: true })
    },
    beforeDestroy () {
      if (typeof window !== 'undefined') {
        window.removeEventListener('resize', this.onResize, { passive: true })
      }
    },
    methods: {
      getActionLabel () {
        switch (this.form.action) {
          case Actions.VALIDATION: return 'VALIDAR'
          case Actions.INSERT: return 'INSERIR'
          case Actions.UPDATE: return 'UPDATE'
          case Actions.QUERY: return 'CONSULTAR'
          case Actions.INTEGRATION: return 'INTEGRAR'
          default: return 'Qual é a ação?'
        }
      },
      onResize () {
        this.isMobile = window.innerWidth < 600
      },
      onClose () {
        this.form = new Plot()
        this.$refs.form.reset()
        this.$emit('close')
      },
      onSave () {
        if (this.$refs.form.validate()) {
          this.requestInProgress = true
          let method = null
          if (this.plot) {
            method = this.$store.dispatch('plot/putPlot', {
              form: this.form,
              projectId: this.projectId,
              scenarioId: this.scenarioId,
              plotId: this.plot.id
            })
          } else {
            method = this.$store.dispatch('plot/postPlot', {
              form: this.form,
              projectId: this.projectId,
              scenarioId: this.scenarioId
            })
          }
          method.then(data => {
            this.requestInProgress = false
            this.$refs.form.reset()
            this.form = new Plot()
            this.$emit('close')
          }).catch(() => {
            this.requestInProgress = false
          })
        }
      }
    }
  }
</script>

<style lang="stylus">
  .stage
    border-left 2px solid #DBA11C
    padding-left 20px
    position relative
    & .indicator
      border-top-right-radius 2px
      border-bottom-right-radius 2px
      width 30px
      height 2px
      border-bottom 2px solid #DBA11C
      position absolute
      left 0
      top: 24px
    & .v-chip
      &__content
        background whitesmoke
        cursor pointer !important
        font-weight: bold;
        height: 24px;
  .list-actors
    max-height 250px
    overflow auto
</style>

