<template>
  <v-app light>
    <router-view></router-view>
  </v-app>
</template>

<script>
  export default {
    created () {
      this.$store.dispatch('auth/getProfile')
        .then(data => {
          this.$router.push({name: 'main.DashboardPage'})
        }).catch(() => this.$router.push({name: 'SignInPage'}))
    }
  }
</script>

<style scoped>

</style>
