<template>
  <v-container fluid fill-height>
    <v-layout row align-center justify-center>
      <v-flex xs12 sm8 md4 align-center="true">
        <v-form ref="form" id="formLogin" v-model="valid" lazy-validation>
          <v-card flat>
            <v-container fluid>
              <v-text-field v-model="form.email" box :rules="emailRules" label="E-mail" required></v-text-field>
              <v-text-field v-model="form.password" box :rules="passwordRules" label="Senha" required type="password"></v-text-field>
            </v-container>
            <v-card-actions>
              <v-btn flat :to="{name: 'SignUpPage'}">Criar conta</v-btn>
              <v-spacer></v-spacer>
              <v-btn color="primary" @click.native="signIn" :disabled="requestInProgress" :loading="requestInProgress" block>Entrar</v-btn>
            </v-card-actions>
          </v-card>
        </v-form>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
  export default {
    name: 'login',
    data: () => ({
      valid: true,
      snackbar: false,
      requestInProgress: false,
      errorMessage: '',
      form: {
        email: null,
        password: null
      },
      emailRules: [
        v => !!v || 'Informe o e-mail'
      ],
      passwordRules: [
        v => !!v || 'Informe a senha'
      ]
    }),
    methods: {
      signIn () {
        if (this.$refs.form.validate()) {
          this.requestInProgress = true
          this.$store.dispatch('auth/signIn', this.form)
            .then(data => {
              this.requestInProgress = false
              location.assign(location.origin)
            })
            .catch(error => {
              this.requestInProgress = false
              this.errorMessage = error.reason
              this.snackbar = true
            })
        }
      }
    }
  }
</script>

<style lang="stylus" scoped>

</style>
