<template>
  <v-container fluid fill-height>
    <v-layout row align-center justify-center>
      <v-flex xs12 sm6 align-center="true">
        <v-card flat>
          <v-card-title primary-title>
            <div>
              <h3 class="headline mb-0">Lorem ipsum dolor sit amet.</h3>
              <div>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolorem aperiam facere hic. Quas, adipisci laudantium doloribus perspiciatis similique magnam at modi quis aspernatur laborum maxime maiores, eos porro asperiores esse?</div>
            </div>
          </v-card-title>
          <v-container fluid>
            <v-form ref="form" v-model="valid" lazy-validation>
              <v-layout row wrap>
                <v-flex xs12 md8 pa-2>
                  <v-text-field
                  name="name" label="Nome completo" box
                  id="name" required v-model="form.name"
                  :rules="nameRules"></v-text-field>
                </v-flex>
                <v-flex xs12 md4 pa-2>
                  <v-text-field
                  name="mobilePhone" label="Celular" id="mobilePhone" box
                  v-model="form.mobilePhone"></v-text-field>
                </v-flex>
                <v-flex xs12 pa-2>
                  <v-text-field
                  name="email" label="E-mail" type="email" box
                  id="email" required v-model="form.email"
                  :rules="emailRules"></v-text-field>
                </v-flex>
                <v-flex xs12 pa-2>
                  <v-text-field
                  name="username" label="Username" type="text" box
                  id="email" required v-model="form.username"
                  :rules="usernameRules"></v-text-field>
                </v-flex>
                <v-flex xs12 pa-2>
                  <v-text-field
                  name="password" label="Senha" box
                  id="password" required type="password" v-model="form.password"
                  :rules="passwordRules"></v-text-field>
                </v-flex>
                <v-flex offset-md8 xs12 md4 pa-2>
                  <v-btn @click="submit" color="primary" :disabled="requestInProgress"  :loading="requestInProgress" block>Confirmar</v-btn>
                </v-flex>
              </v-layout>
            </v-form>
          </v-container>
        </v-card>
      </v-flex>
    </v-layout>
    <v-snackbar v-model="snackbar" color="error"
    :timeout="6000">Ops! {{errorMessage}}</v-snackbar>
  </v-container>
</template>

<script>
  export default {
    data () {
      return {
        valid: true,
        snackbar: false,
        requestInProgress: false,
        errorMessage: '',
        form: {
          name: '',
          email: '',
          username: '',
          mobilePhone: '',
          password: ''
        },
        emailRules: [
          v => !!v || 'Você precisa informar o e-mail.',
          v => /^\w+([.-]?\w+)*@\w+([.-]?\w+)*(\.\w{2,3})+$/.test(v) || 'O e-mail informado não é válido.'
        ],
        nameRules: [
          v => !!v || 'Você precisa informar seu nome completo.'
        ],
        usernameRules: [
          v => !!v || 'Você precisa informar un nome de usuário.',
          v => /^[a-z0-9_]*$/.test(v) || 'Seu nome de usuário deve ser composto por caracteres alfanuméricos ou underline e não pode começar com underline.'
        ],
        passwordRules: [
          v => !!v || 'Você precisa informar uma senha'
        ]
      }
    },
    methods: {
      submit () {
        if (this.$refs.form.validate()) {
          this.requestInProgress = true
          this.$store.dispatch('auth/signUp', this.form)
            .then(data => {
              this.requestInProgress = false
              location.assign(location.origin)
            })
            .catch(error => {
              console.log(error)
              this.requestInProgress = false
              this.errorMessage = error.reason
              this.snackbar = true
            })
        }
      }
    }
  }
</script>

<style lang="stylus" scoped>

</style>
