<template>
  <router-view></router-view>
</template>

<script>
export default {
  name: 'app'
}
</script>

<style lang="stylus">
  @import url('https://fonts.googleapis.com/css?family=Noto+Sans:300,400,700')
  @import url('./assets/css/animate.css')
  $body-font-family = 'Noto Sans'
  @import '~vuetify/src/stylus/main'

  @media screen and (min-width: 600px)
    *::-webkit-scrollbar
      width 6px !important
      height 6px !important
    *::-webkit-scrollbar-thumb
      background-color rgba(0, 0, 0, 0.2)
    *::-webkit-scrollbar-track
      background rgba(255, 255, 255, 0.08)
  button.v-btn
    font-weight: 600

  .block-with-text
    overflow: hidden
    display: -webkit-box
    -webkit-line-clamp: 3
    -webkit-box-orient: vertical
  .text-uppercase
    text-transform: uppercase

  .fixed.fullscreen
    position fixed
    top: 0
    bottom: 0
    right: 0
    left: 0

  input[type="file"]
    display none
  .application.theme--light, .theme--light .v-toolbar
    background-image linear-gradient(to bottom, #f0f0f0, #f3f3f4, #f6f5f7, #f8f8fb, #fbfbff)
    border 1px solid #f0f0f0
  .v-bottom-nav
    background white
    color #424242
  .theme--light .v-toolbar .v-toolbar__title
    font-weight bold
    color #3F4756
    text-transform uppercase
    font-size 14px
  .theme--light .v-text-field--box .v-input__slot, .v-card, .theme--light .v-toolbar
    box-shadow: 0px 2px 6px rgba(0,0,0,0.15);
  .headline
    font-weight bold
  .application .theme--light.v-toolbar
    background white
    border-bottom: 3px solid #3882A0
  .theme--light .v-text-field--box .v-input__slot, .application .theme--light.v-text-field--box .v-input__slot
    background rgba(0, 0, 0, 0.025)
    &:hover
      background rgba(0, 0, 0, 0.075)
  .v-text-field--box .v-input__slot
    border-top-left-radius 0
    border-top-right-radius: 0
  .text-uppercase
    text-transform uppercase
</style>


