<template>
  <v-layout row justify-center>
    <v-dialog v-model="show" fullscreen transition="dialog-bottom-transition">
      <v-card>
        <v-toolbar light dense absolute>
          <v-btn icon light @click.native="onClose">
            <v-icon>close</v-icon>
          </v-btn>
          <v-toolbar-title>Editor de atores</v-toolbar-title>
          <v-spacer></v-spacer>
          <v-toolbar-items>
            <v-btn light color="primary" flat @click.native="onSave" :disabled="requestInProgress"  :loading="requestInProgress">Salvar</v-btn>
          </v-toolbar-items>
        </v-toolbar>
        <v-content>
          <v-container fluid fill-height>
            <v-layout row justify-center>
              <v-flex xs12 sm7 md5 align-center>
                <v-form ref="form" id="formNewProject" v-model="valid" lazy-validation>
                  <v-layout row wrap>
                    <v-flex xs12>
                      <v-text-field v-model="form.role" name="role"
                      :rules="nameRules" label="Papel do ator" required box></v-text-field>
                      <v-textarea name="description" v-model="form.description" box label="Descrição do ator" auto-grow ></v-textarea>
                    </v-flex>
                  </v-layout>
                </v-form>
              </v-flex>
            </v-layout>
          </v-container>
        </v-content>
      </v-card>
    </v-dialog>
  </v-layout>
</template>

<script>
  import Actor from '../models/actor.model'
  export default {
    props: ['show', 'projectId', 'actor'],
    data () {
      return {
        valid: false,
        isMobile: false,
        requestInProgress: false,
        form: new Actor(),
        nameRules: [
          v => !!v || 'Informe o nome do cenário'
        ]
      }
    },
    watch: {
      actor () {
        if (this.actor) this.form = Object.assign({}, this.actor)
      }
    },
    mounted () {
      this.onResize()
      window.addEventListener('resize', this.onResize, { passive: true })
    },
    beforeDestroy () {
      if (typeof window !== 'undefined') {
        window.removeEventListener('resize', this.onResize, { passive: true })
      }
    },
    methods: {
      onResize () {
        this.isMobile = window.innerWidth < 600
      },
      onClose () {
        this.form = new Actor()
        this.$refs.form.reset()
        this.$emit('close')
      },
      onSave () {
        if (this.$refs.form.validate()) {
          this.requestInProgress = true
          let method = null
          if (this.actor) {
            method = this.$store.dispatch('actor/putActor', {
              form: this.form,
              projectId: this.projectId,
              actorId: this.actor.id
            })
          } else {
            method = this.$store.dispatch('actor/postActor', {
              form: this.form,
              projectId: this.projectId
            })
          }
          method.then(data => {
            this.requestInProgress = false
            this.$refs.form.reset()
            this.form = new Actor()
            this.$emit('close')
          }).catch(() => {
            this.requestInProgress = false
          })
        }
      }
    }
  }
</script>

<style scoped>

</style>
