<template>
  <v-layout row justify-center>
    <v-dialog v-model="show" fullscreen transition="dialog-bottom-transition">
      <v-card>
        <v-toolbar light fixed dense>
          <v-btn icon light @click.native="onClose">
            <v-icon>close</v-icon>
          </v-btn>
          <v-toolbar-title>Editor de projetos</v-toolbar-title>
          <v-spacer></v-spacer>
          <v-toolbar-items>
            <v-btn light color="primary" flat @click.native="onSave" :disabled="requestInProgress"  :loading="requestInProgress">Salvar</v-btn>
          </v-toolbar-items>
        </v-toolbar>
        <v-content class="pl-1">
          <v-container fluid fill-height>
            <v-layout row justify-center>
              <v-flex xs12 sm7 md align-center>
                <v-form ref="form" id="formNewProject" v-model="valid" lazy-validation>
                  <v-layout row wrap>
                    <v-flex xs12>
                      <v-text-field v-model="form.name" :name="`name${+new Date()}`"
                      :rules="nameRules" label="Nome do projeto" required box></v-text-field>
                      <v-textarea name="description" v-model="form.description" box label="Descrição do projeto" auto-grow ></v-textarea>
                      <v-toolbar card prominent dense>
                        <v-toolbar-title>Domínios autorizados</v-toolbar-title>
                        <v-spacer></v-spacer>
                        <v-toolbar-items>
                          <v-btn flat @click.native="addDomain()">
                            <v-icon>add</v-icon>
                          </v-btn>
                        </v-toolbar-items>
                      </v-toolbar>
                      <v-layout row wrap>
                        <v-flex xs12 v-for="(domain, index) in form.domains" :key="index">
                          <v-text-field dense label="Domínio" box v-model="form.domains[index]" append-icon="close" @click:append="removeDomain(index)"></v-text-field>
                        </v-flex>
                      </v-layout>
                    </v-flex>
                  </v-layout>
                </v-form>
              </v-flex>
            </v-layout>
          </v-container>
        </v-content>
        <v-snackbar v-model="snackbar.show" top :timeout="5000" :color="snackbar.color">
          {{ snackbar.message }}
          <v-btn color="white" flat @click="snackbar.show = false">
            Fechar
          </v-btn>
        </v-snackbar>
      </v-card>
    </v-dialog>
  </v-layout>
</template>

<script>
  import Project from '../models/project.model'
  export default {
    props: ['show', 'project'],
    data () {
      return {
        valid: false,
        isMobile: false,
        requestInProgress: false,
        form: new Project(),
        snackbar: {
          show: false
        },
        nameRules: [
          v => !!v || 'Informe o nome do projeto'
        ]
      }
    },
    watch: {
      project () {
        if (this.project) this.form = Object.assign({}, this.project)
      }
    },
    mounted () {
      this.onResize()
      window.addEventListener('resize', this.onResize, { passive: true })
    },
    beforeDestroy () {
      if (typeof window !== 'undefined') {
        window.removeEventListener('resize', this.onResize, { passive: true })
      }
    },
    methods: {
      onResize () {
        this.isMobile = window.innerWidth < 600
      },
      addDomain () {
        this.form.domains.push('')
      },
      removeDomain (index) {
        this.form.domains.splice(index, 1)
      },
      onClose () {
        this.$refs.form.reset()
        this.form = new Project()
        this.$emit('close')
      },
      onSave () {
        if (this.$refs.form.validate()) {
          this.requestInProgress = true
          let method = null
          if (this.project) {
            method = this.$store.dispatch('project/putProject', {
              form: this.form,
              projectId: this.project.id
            })
          } else {
            method = this.$store.dispatch('project/postProject', this.form)
          }
          method.then(data => {
            this.requestInProgress = false
            this.$refs.form.reset()
            this.form = new Project()
            this.$emit('close')
          }).catch(() => {
            this.requestInProgress = false
            this.snackbar.show = true
            this.snackbar.message = 'Ops! Aconteceu algo inesperado, tente novamente.'
            this.snackbar.color = 'error'
          })
        }
      }
    }
  }
</script>

<style scoped>

</style>
