<template>
  <v-layout row justify-center>
    <v-dialog v-model="show" fullscreen transition="dialog-bottom-transition">
      <v-card>
        <v-toolbar light dense absolute>
          <v-btn icon light @click.native="onClose">
            <v-icon>close</v-icon>
          </v-btn>
          <v-toolbar-title>Editor de cenários</v-toolbar-title>
          <v-spacer></v-spacer>
          <v-toolbar-items>
            <v-btn light color="primary" flat @click.native="onSave" :disabled="requestInProgress"  :loading="requestInProgress">Salvar</v-btn>
          </v-toolbar-items>
        </v-toolbar>
        <v-content>
          <v-container fluid fill-height>
            <v-layout row justify-center>
              <v-flex xs12 sm7 md5 align-center>
                <v-form ref="form" id="formNewProject" v-model="valid" lazy-validation>
                  <v-layout row wrap>
                    <v-flex xs12>
                      <v-text-field v-model="form.name" :name="`name${_uid}`"
                      :rules="nameRules" label="Nome do cenário" required box></v-text-field>
                      <v-textarea :name="`description${_uid}`" v-model="form.description" box label="Descrição do cenário" auto-grow ></v-textarea>
                    </v-flex>
                  </v-layout>
                </v-form>
              </v-flex>
            </v-layout>
          </v-container>
        </v-content>
      </v-card>
    </v-dialog>
  </v-layout>
</template>

<script>
  import Scenario from '../models/scenario.model'
  export default {
    props: ['show', 'projectId', 'scenario'],
    data () {
      return {
        valid: false,
        isMobile: false,
        requestInProgress: false,
        form: new Scenario(),
        nameRules: [
          v => !!v || 'Informe o nome do cenário'
        ]
      }
    },
    watch: {
      scenario () {
        if (this.scenario) this.form = Object.assign({}, this.scenario)
      }
    },
    mounted () {
      this.onResize()
      window.addEventListener('resize', this.onResize, { passive: true })
    },
    beforeDestroy () {
      if (typeof window !== 'undefined') {
        window.removeEventListener('resize', this.onResize, { passive: true })
      }
    },
    methods: {
      onResize () {
        this.isMobile = window.innerWidth < 600
      },
      onClose () {
        this.form = new Scenario()
        this.$refs.form.reset()
        this.$emit('close')
      },
      onSave () {
        if (this.$refs.form.validate()) {
          this.requestInProgress = true
          let method = null
          if (this.form.id) {
            method = this.$store.dispatch('scenario/putScenario', {
              form: this.form,
              projectId: this.projectId,
              scenarioId: this.form.id
            })
          } else {
            method = this.$store.dispatch('scenario/postScenario', {
              form: this.form,
              projectId: this.projectId
            })
          }
          method.then(data => {
            this.requestInProgress = false
            this.$refs.form.reset()
            this.form = new Scenario()
            this.$emit('close')
          }).catch(() => {
            this.requestInProgress = false
          })
        }
      }
    }
  }
</script>

<style scoped>

</style>
