<template>
  <v-layout row justify-center>
    <v-dialog v-model="show" fullscreen transition="dialog-bottom-transition">
      <v-card>
        <v-toolbar light absolute dense>
          <v-btn icon light @click.native="onClose">
            <v-icon>close</v-icon>
          </v-btn>
          <v-toolbar-title>Editor de objetos</v-toolbar-title>
          <v-spacer></v-spacer>
          <v-toolbar-items>
            <v-btn light color="primary" flat @click.native="onSave" :disabled="requestInProgress"  :loading="requestInProgress">Salvar</v-btn>
          </v-toolbar-items>
        </v-toolbar>
        <v-content>
          <v-container fluid fill-height>
            <v-layout row justify-center>
              <v-flex xs12 sm7 md5 align-center>
                <v-form ref="form" id="formNewProject" v-model="valid" lazy-validation>
                  <v-layout row wrap>
                    <v-flex xs12>
                      <v-text-field v-model="form.name" :name="`name${_uid}`"
                      :rules="nameRules" label="Nome do objeto" required box></v-text-field>
                      <v-text-field v-model="form.collection" :name="`colletion${_uid}`"
                      :rules="nameRules" label="Nome da coleção" required box></v-text-field>
                      <v-textarea :name="`description${_uid}`" v-model="form.description" box label="Descrição do objeto" auto-grow ></v-textarea>
                      <v-toolbar dense flat>
                        <v-spacer></v-spacer>
                        <v-toolbar-items>
                          <v-btn tag="label" for="stuffModel" light flat>
                            <v-icon>folder_open</v-icon>
                            Carregar modelo
                          </v-btn>
                        </v-toolbar-items>
                      </v-toolbar>
                      <input type="file" id="stuffModel" @change="onStuffModelChange" accept=".json" />
                      <json-formatted :value="form.model"></json-formatted>
                    </v-flex>
                  </v-layout>
                </v-form>
              </v-flex>
            </v-layout>
          </v-container>
        </v-content>
      </v-card>
    </v-dialog>
  </v-layout>
</template>

<script>
  import Stuff from '../models/stuff.model'
  export default {
    props: ['show', 'projectId', 'stuff'],
    data () {
      return {
        valid: false,
        isMobile: false,
        requestInProgress: false,
        form: new Stuff(),
        nameRules: [
          v => !!v || 'Informe o nome do cenário'
        ]
      }
    },
    watch: {
      stuff () {
        if (this.stuff) this.form = Object.assign({}, this.stuff)
      }
    },
    mounted () {
      this.onResize()
      window.addEventListener('resize', this.onResize, { passive: true })
    },
    beforeDestroy () {
      if (typeof window !== 'undefined') {
        window.removeEventListener('resize', this.onResize, { passive: true })
      }
    },
    methods: {
      onResize () {
        this.isMobile = window.innerWidth < 860
      },
      onClose () {
        this.form = new Stuff()
        this.$refs.form.reset()
        this.$emit('close')
      },
      onStuffModelChange (event) {
        let reader = new FileReader()
        reader.onload = (event) => {
          this.form.model = JSON.parse(event.target.result)
        }
        reader.readAsText(event.target.files[0])
      },
      onSave () {
        if (this.$refs.form.validate()) {
          this.requestInProgress = true
          let method = null
          if (this.form.id) {
            method = this.$store.dispatch('stuff/putStuff', {
              form: this.form,
              projectId: this.projectId,
              stuffId: this.form.id
            })
          } else {
            method = this.$store.dispatch('stuff/postStuff', {
              form: this.form,
              projectId: this.projectId
            })
          }
          method.then(data => {
            this.requestInProgress = false
            this.$refs.form.reset()
            this.form = new Stuff()
            this.$emit('close')
          }).catch(() => {
            this.requestInProgress = false
          })
        }
      }
    }
  }
</script>

<style scoped>

</style>
